section.section-banner 
    img(src=require("../images/banner.png"), alt="Banner").section-banner__image
    .container
        .banner
            h1.banner__title Zack Snyder's Justice League
            .banner-info
                span.banner-info__year 2021
                span.banner-info__age 18+
                span.banner-info__time 4h 2min
                span.banner-info__reting 8.8
            p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
            .banner-control 
                button.banner-control__btn.banner-control__btn-main Watch
                button.banner-control__btn.banner-control__btn-more More information
section.section
    .container 
        h2.section__h2
            a(href="#").section__h2-link Trending TV Shows
        .movies
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster01.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster02.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster03.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster04.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster05.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster06.png"), alt="").movies__img

section.section
    .container 
        h2.section__h3
            a(href="#").section__h3-link Trending Movies
        .movies
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster07.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster08.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster09.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster10.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster11.png"), alt="").movies__img
            .movies-item
                 a(href="#").movies__link                                                      
                     img(src=require("../images/posters/poster12.png"), alt="").movies__img
        button.section__btn See more
section.section
    .container 
        h2.section__h3
            a(href="#").section__h3-link Popular Genres
        .genres
            .genres-item.genres-item_romance
                .genres-icon
                    img(src=require("../images/Genres/Romance.svg"), alt="Romance").genres__image
                h3.genres__title Romance
            .genres-item.genres-item_drama
                .genres-icon
                    img(src=require("../images/Genres/Drama.svg"), alt="Romance").genres__image
                h3.genres__title Drama
            .genres-item.genres-item_historical
                .genres-icon
                    img(src=require("../images/Genres/Historical.svg"), alt="Romance").genres__image
                h3.genres__title Historical
            .genres-item.genres-item_action
                .genres-icon
                    img(src=require("../images/Genres/Action.svg"), alt="Romance").genres__image
                h3.genres__title Action
            .genres-item.genres-item_sci-fi
                .genres-icon
                    img(src=require("../images/Genres/Sci-fi.svg"), alt="Romance").genres__image
                h3.genres__title Sci-fi
            .genres-item.genres-item_horror
                .genres-icon
                    img(src=require("../images/Genres/Horror.svg"), alt="Romance").genres__image
                h3.genres__title Horror
            .genres-item.genres-item_comedy
                .genres-icon
                    img(src=require("../images/Genres/Comedy.svg"), alt="Romance").genres__image
                h3.genres__title Comedy
            .genres-item.genres-item_documentary
                .genres-icon
                    img(src=require("../images/Genres/Documentary.svg"), alt="Romance").genres__image
                h3.genres__title Documentary
section.section
    .container 
        h2.section__h4
            a(href="#").section__h4-link Popular Actors & Directors
        .actors
            .actors-item
                a(href="#").actors__link
                    img(src=require("../images/Actors/Actor1.png"), alt="").actors__img 
                h3.actors__title Samantha Bowen
            .actors-item
                a(href="#").actors__link
                    img(src=require("../images/Actors/Actor2.png"), alt="").actors__img 
                h3.actors__title Rhys Birch
            .actors-item
                a(href="#").actors__link
                    img(src=require("../images/Actors/Actor3.png"), alt="").actors__img 
                h3.actors__title James Holloway
            .actors-item
                a(href="#").actors__link
                    img(src=require("../images/Actors/Actor4.png"), alt="").actors__img 
                h3.actors__title Joshua Walton
            .actors-item
                a(href="#").actors__link
                    img(src=require("../images/Actors/Actor5.png"), alt="").actors__img
                h3.actors__title Patrick Elliott 
            .actors-item
                a(href="#").actors__link
                    img(src=require("../images/Actors/Actor6.png"), alt="").actors__img 
                h3.actors__title Morgan O'Neill
section.section
    .container
        .marketing
            .marketing-item
                a(href="#").marketing__link 
                    img(src=require("../images/marketing/marketing01.png"), alt="").marketing__image
            .marketing-item
                a(href="#").marketing__link 
                    img(src=require("../images/marketing/marketing02.png"), alt="").marketing__image    
section.section
    .container
        .offer
            h2.offer__title  Are You New Here ? Don’t&nbspwait, Register Now. 
            button.offer__btn Register Now             